@charset "UTF-8";

.back1{
	background-color: rgb(255, 242, 242);
	padding: 30px !important;
	margin: 0 !important;
	}
.row1 {
	border: 1px solid white;
	font-size: 15px;
	height:100px;
	background: white;
	margin:20px;
	text-align: center;
	
}
.row1_img {
	margin:0px;
	border:0px;
	padding:0px;
	background: white;
	padding:10px 0px 0px;
}

#imgWook{
	height:100%;
}
#name1{margin:0px;}
.asdf{margin:0px;}

#sidebar-wrapper{}